@import "bootstrap";

#content{
  padding-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
}


#status {
  font-size: 1.1em;
  padding-top: 9px;
  color: #fff
}

#error {
  float: right;
  color: #ff0000;
}

#message {
  float: right;
  color: #00ff00;
}

#extraRight {
  padding-left: 150%;
}

#extraRight2 {
  padding-left: 200%;
}
